In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('cars_advanced.csv')
# print(df.head())

# Replacing a value in column with another value
# df['Brand'].replace('BMW', 'see i told ya', inplace=True)
# print(df.head())

# df = df.fillna('This is a static Test')
# df

In [14]:
df = df.dropna(subset=['Brand', 'Price (USD)'])
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price (USD),Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [15]:
# df.rename(columns={'Price (USD)' : 'Price'}, inplace=True)
df = df.rename(columns={'Price (USD)' : 'Price'})
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
10,11,Honda,Civic,2020,2.0L,Petrol,25000.0,18000.0,First
11,12,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
13,14,Toyota,Camry,2015,2.5L,Petrol,NaN,14000.0,Second
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [16]:
df = df.drop_duplicates(subset=['Brand'])
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [17]:
df[df['Car'] > 5]

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [18]:
# df['Year'] = df['Year'].replace({2017 : 0000})
# df.head(10)

# df.at[ 0, 'Car'] = np.nan
# df.info()

# df.sort_values(by='Year', inplace=True)

In [19]:
df['Year'].value_counts()
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [23]:
ndf = df.sort_values(by='Year', inplace=False)

ndf

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First

In [21]:
df.reset_index(drop=True)

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
4,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
5,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
6,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
7,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
8,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
9,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third

In [ ]:
df

,Car,Brand,Model,Year,Engine Size,Fuel Type,Mileage (km),Price,Owner Type
0,1,Toyota,Corolla,2018,1.8L,Petrol,42000.0,14500.0,First
1,2,Honda,Civic,2020,2.0L,petrol,25000.0,18000.0,First
2,3,Ford,Focus,2017,1.5L,Diesel,60000.0,12500.0,Second
3,4,Hyundai,Elantra,2019,NaN,Petrol,35000.0,16000.0,first
5,6,Mercedes-Benz,C Class,2018,2.0L,Petrol,40000.0,28000.0,First
6,7,Tesla,Model 3,2021,Electric,electric,15000.0,35000.0,First
7,8,Kia,Optima,2017,2.4L,Petrol,50000.0,13000.0,Second
8,9,Audi,A4,2019,2.0L,Diesel,30000.0,27000.0,Second
9,10,Chevrolet,Malibu,2016,1.5L,Petrol,-500.0,11000.0,third
14,15,BMW,3 series,2016,2.0L,Diesel,70000.0,20000.0,third